<div class="list-group mr-2">
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
    <app-friends-list-element></app-friends-list-element>
</div>