<div class="text-center h-100 bg-light">
    <form class="form-signin pt-5" [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <h1 class="h1 font-weight-bold">WAVC</h1>
        <h1 class="h2 font-weight-normal mb-5">Web App for Video Conferencing</h1>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="First name" type="text" formControlName="FirstName">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Last name" type="text" formControlName="LastName">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Email address" type="text" formControlName="Email">
        </div>
        <div formGroupName="Passwords">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Create password" type="password"
                    formControlName="Password">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Repeat password" type="password"
                    formControlName="ConfirmPassword">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
        </div>
        <p class="text-center">Have an account? <a routerLink="/sign-in">Log In</a> </p>
    </form>
</div>