<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-primary" type="button">
      <i class="far fa-file"></i>
    </button>
    <button class="btn btn-primary" type="button">
      <i class="fas fa-photo-video"></i>
    </button>
    <button class="btn btn-primary" type="button">
        <i class="far fa-smile-beam"></i>
    </button>
  </div>
  <input type="text" class="form-control" placeholder="Type a message here..." aria-label=""
    aria-describedby="basic-addon1">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-thumbs-up"></i>
    </button>
  </div>
</div>