<label for="settings_button">
    <span class="glyphicon glyphicon-cog"></span>
</label>
<input id="settings_button" type="checkbox" hidden checked />
<div id="settings">
    <div id="audio_select"></div>
    <div id="video_select"></div>
    <input id="update_button" type="button" value="Update" (click)="media.UpdateSettings()" hidden />
    <input type="button" value="Stop" (click)="media.StopVideo()" />
    <input type="checkbox" value="Preview Audio" (input)="media.PreviewAudio(event.target.checked)" />
    <div>
        My Preview <br />
        <video id="camera_preview" autoplay playinline></video>
    </div>
</div>
<div id="video_container">
</div>