#video_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#video_container > div {
    display: inline-block;
    max-width: 50%;
}

#video_container > div > video {
    max-width: 100%;
}