<!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between friend m-0">
    <div class="d-flex flex-row">
      <img src="assets/cat.jpg" class="rounded-circle profile-picture"><img />
      <div class="mx-2">
        <h6 class="mb-1">Cat Conncat</h6>
        <p class="mb-1 text-truncate" style="max-width:200px;">Cat: Dondecsssssssss id elit non mi portas </p>
      </div>
    </div>
    <div class=" flex-column">
      <div class="mb-auto d-flex justify-content-end">
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="align-self-end d-flex justify-content-between" style="flex-direction: column; justify-content: center">
        <div>
          <small class="text-muted align-self-end">Read:&nbsp;</small>
          <small class="text-muted"> 3 days ago</small>
        </div>
      </div>
    </div>
  </div>
</a> -->

<!-- <img src="assets/cat.jpg" class="rounded-circle profile-picture"><img />
<h6 class="mb-1">Cat Conncat</h6>
<div class="mb-auto d-flex justify-content-end">
  <i class="fas fa-ellipsis-h"></i>
</div>
<p class="mb-1 text-truncate" style="max-width:200px;">Cat: Dondecsssssssss id elit non mi portas </p>
<small class="text-muted align-self-end">Read:&nbsp;</small>
<small class="text-muted"> 3 days ago</small> -->

<a href="#" class="list-group-item list-group-item-action d-flex align-items-start">
  <img src="assets/cat.jpg" class="rounded-circle profile-picture" />
  <div class="d-flex flex-column w-100 mx-2">
    <div class="d-flex justify-content-between">
      <h6 class="mb-1">Cat Conncat</h6>
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="container p-0">
      <div class="row">
        <div class="col-9">
          <span>You:&nbsp;</span>
          <span class="text-truncate">DondeDondeDondeDon</span>
        </div>
        <div class="col-3">
          <small class="text-muted align-self-end">Read:&nbsp;</small>
          <small class="text-muted"> 3 days ago</small>
        </div>
      </div>
    </div>
  </div>
</a>